
#log_in123{
    text-align: center;
    color: rgb(202, 191, 198);
}
h3{
    text-align: cenetr;
    padding: 10px;
    font-family: sans-serif;
}
div.userlogin{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #f5ebeb;
}
#userlogin{
    margin: 40px;
}

.submit1{
    background-color: chocolate;
    width: 150px;
    height: 25px;
    padding-right: 20px;
 }
.sign_up{
    color: rgb(26, 5, 71);
}